.manga-info{
    display: flex;
    flex-direction: row;
    height: 300px;

}

.manga-info #cover{
    height:300px;

    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.manga-info .info{
    margin-left: 15px;
}

.manga-info .info #name{
    font-size: 20px;
    line-height: 22px;

    font-weight: bold;
}

.manga-info .info #author{
    font-weight:800;
}

.sinopsys #title-of-section{
    font-size: 20px;
    font-weight: bold;

}

.chapter-list{
    width:100%;
}

.chapters{
    margin-left:15px;
    margin-right: 15px;
}

#chapter-element{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

#chapter-element #read{
    font-size: 20px;
    color: gray;
}

#chapter-element #read:hover{
    color: #A10035;
}

.chapter-info{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height:16px;
}

.chapter-info #date-n-upload{
    margin-top:0;
    font-size: 12px;
}