@font-face { font-family: "Ubuntu"; src: url("../assets/fonts/ubuntu/Ubuntu/Ubuntu-Regular.ttf")}

body{
    /* background-color: #FEE3EC; */
    background-color: #fff6f9;
    margin:0;
    padding: 0;

    font-family: Ubuntu;

}

.topbar{
    display:flex;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;

    height: 50px;
    /* background-color: #f9c5d47a; */

    margin-bottom: 15px;

}

.topbar a{
    color: black;
}
.topbar a:hover{

    color: #A10035;
}

.topbar #icons{
    display: flex;
    align-items: center;
    margin-left:15px;
}

.topbar #icons #item, .topbar #manga-actions #item{
    margin-left: 10px;margin-right: 10px;
}

.topbar #manga-actions{
    margin-right: 15px;
}

.page{
    display: flex;
    flex-direction: column;

    max-width:700px;
    margin: auto;
    padding-left: 15px;padding-right: 15px;
}