@font-face { font-family: "Ubuntu"; src: url("../assets/fonts/ubuntu/Ubuntu/Ubuntu-Regular.ttf")}

body{
    /* background-color: #FEE3EC; */
    background-color: white;
    margin:0;
    padding: 0;

    font-family: Ubuntu;

}

.topbar{
    display:flex;
    justify-content: space-between;
    align-items: center;

    font-size: 25px;

    height: 50px;
    background-color: #f9c5d47a;

    margin-bottom: 15px;

}

.topbar a{
    color: #A10035;
}
.topbar a:hover{
    color: white;
}

.topbar #icons{
    margin-left:15px;
}

.topbar #icons #item, .topbar #manga-actions #item{
    margin-left: 10px;margin-right: 10px;
}

.topbar #manga-actions{
    margin-right: 15px;
}

.page{
    display: flex;
    flex-direction: column;

    width:700px;
    margin: auto;
    padding-left: 15px;padding-right: 15px;
}

.manga-info{
    display: flex;
    flex-direction: row;
    height: 300px;

}

.manga-info #cover{
    height:300px;

    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.manga-info .info{
    margin-left: 15px;
}

.manga-info .info #name{
    font-size: 20px;
    line-height: 0;

    font-weight: bold;
}

.manga-info .info #author{
    font-weight:800;
}

.chapter-list{
    width:100%;
}

.chapters{
    margin-left:15px;
    margin-right: 15px;
}

#chapter-element{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

#chapter-element #read{
    font-size: 20px;
    color: gray;
}

#chapter-element #read:hover{
    color: #A10035;
}