@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
body{background-color: #FEE3EC;margin:0;padding:0;font-family: 'Fresca', sans-serif;}

.sidepanel{
position: fixed;
left: 0;
top : 0;

padding: 0;

height: 100vh;
width: 50px;

text-align: center;
font-size: 25px;

background-color: #F9C5D5;

box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.219)

}
.sidepanel #home, .sidepanel #search{margin-top: 20px;}
.sidepanel a{color: white}
.sidepanel a:hover{color:#F999B7}

#manga-name{
    position: relative;
    top: 20px;
    left: 70px;
    background-color: #F9C5D5;
    color: #db0a5b;
    width:fit-content;
    height: fit-content;

    padding-left: 10px;padding-right: 10px;padding-top:2px;

    border-radius:10px;
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.200)

}
#manga-name #name{font-size:30px;padding:0;margin:0;}

.page{margin-left: 50px;margin-top: 45px;margin-right: 0;}

.manga-info{flex-shrink: 0;margin-bottom:10px;margin-left: 20px;width:500px;height:820px;background-color: white;text-align: center;border-radius: 10px}
.manga-info #cover{width: 450px;margin-top:25px; border-radius: 10px;box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.200)}

.manga-desc{
    position: absolute;
    left: 600px;
    top:81px;

    height:300px;
    width:auto;

    margin-right: 15px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;

}
