@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');
body{background-color: #FEE3EC;margin:0;padding:0;font-family: 'Fresca', sans-serif;}

.sidepanel{
position: fixed;
left: 0;
top : 0;

padding: 0;

height: 100vh;
width: 50px;

text-align: center;
font-size: 25px;

background-color: #F9C5D5;

box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.219)

}
.sidepanel #home{margin-top: 10px;}
.sidepanel a{color: white}
.sidepanel a:hover{color:#F999B7}

#manga-name{
    position: relative;
    top: 20px;
    left: 70px;
    background-color: #F9C5D5;
    color: #db0a5b;
    width:fit-content;
    height: fit-content;

    padding-left: 10px;padding-right: 10px;

    border-radius:10px;
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.200)

}
#manga-name #name{font-size:30px;padding:0;margin:0;}

.page{margin-left: 50px;margin-top: 70px;margin-right: 0;}

.manga-info #info-list{display: inline;}
.manga-info{margin-left: 20px;}
.manga-info #cover{width: 450px; border-radius: 10px;}